<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LPII"
    connectionString="Server=DESKTOP-2TE51VC;Database=LPII;Trusted_Connection=True;MultipleActiveResultSets=true;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
</configuration>